@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

@import url(./blocks/page/page.css);
@import url(./blocks/page/__container/page__container.css);

@import url(./blocks/container/container.css);
@import url(./blocks/container/__header/container__header.css);
@import url(./blocks/container/__profile/container__profile.css);
@import url(./blocks/container/__elements/container__elements.css);
@import url(./blocks/container/__footer/container__footer.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__description/profile__description.css);
@import url(./blocks/profile/__text/profile__text.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__image/profile__image.css);
@import url(./blocks/profile/__pen/profile__pen.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);

@import url(./blocks/elements/elements.css);

@import url(./blocks/element/element.css);
@import url(./blocks/element/__text-info/element__text-info.css);
@import url(./blocks/element/__text/element__text.css);
@import url(./blocks/element/__container/element__container.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__likes/element__likes.css);
@import url(./blocks/element/__vector/element__vector.css);
@import url(./blocks/element/__vector/_active/element__vector_active.css);
@import url(./blocks/element/__delete-button/element__delete-button.css);
@import url(./blocks/element/__delete-button/_hidden/element__delete-buttun_hidden.css);
@import url(./blocks/element/__delete-button/_visible/element__delete-button_visible.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyrate/footer__copyrate.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__field/popup__field.css);
@import url(./blocks/popup/__field/_avatar/popup__field_avatar.css);
@import url(./blocks/popup/__button/popup__button.css);
@import url(./blocks/popup/__button/_avatar/popup__button_avatar.css);
@import url(./blocks/popup/__button/_invalid/popup__button_invalid.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/_is-opened/popup_is-opened.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__field/_invalid/popup__field_invalid.css);


@import url(./blocks/popup-image/popup-image.css);
@import url(./blocks/popup-image/__img/popup-image__img.css);
@import url(./blocks/popup-image/__containers/popup-image__containers.css);
@import url(./blocks/popup-image/__text/popup-image__text.css);
